@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;600&family=Revalia&display=swap');

:root {
  --primary-color: #000000;
  --placeholder-color: rgba(0, 0, 0, 0.7);
  --secondary-color: rgba(0, 0, 0, 0.7);
}

body {
  padding: 64px;
  margin: 0;
  font-family: "Catamaran", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Revalia";
}